<div id="<%= dom_id bowling %>">
  <p>
    <strong>Format:</strong>
    <%= bowling.format %>
  </p>

  <p>
    <strong>Matches:</strong>
    <%= bowling.matches %>
  </p>

  <p>
    <strong>Innings:</strong>
    <%= bowling.innings %>
  </p>

  <p>
    <strong>Balls:</strong>
    <%= bowling.balls %>
  </p>

  <p>
    <strong>Runs:</strong>
    <%= bowling.runs %>
  </p>

  <p>
    <strong>Maidens:</strong>
    <%= bowling.maidens %>
  </p>

  <p>
    <strong>Wickets:</strong>
    <%= bowling.wickets %>
  </p>

  <p>
    <strong>Fourw:</strong>
    <%= bowling.fourw %>
  </p>

  <p>
    <strong>Fifw:</strong>
    <%= bowling.fifw %>
  </p>

  <p>
    <strong>Bbi:</strong>
    <%= bowling.bbi %>
  </p>
  <p>
    <strong>economy:</strong>
    <%= bowling.economy %>
  </p>

  <p>
    <strong>strikerate:</strong>
    <%= bowling.strikerate %>
  </p>

  <p>
    <strong>average:</strong>
    <%= bowling.avg %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= bowling.player_id %>
  </p>

</div>
