
<%= render @stats %>
<% if Current.user && Current.user.is_admin %>
  <div class="l_c">
    <%= link_to "Edit this bowling", edit_bowling_path(@bowling), class:"nav-link" %> |
    <%= link_to "Back to bowlings", bowlings_path, class:"nav-link" %>

    <%= link_to "Add", adding_bowling_path, class:"nav-link" %>
    <%= link_to "Player Info ", player_path(@bowling.player_id), class:"nav-link" %> 

    <%= button_to "Destroy this bowling", @bowling, method: :delete, class:"btn btn-primary" %>
  </div>
<% end%>
