<div id="<%= dom_id batting %>">
  <p>
    <strong>Format:</strong>
    <%= batting.format %>
  </p>

  <p>
    <strong>Matches:</strong>
    <%= batting.matches %>
  </p>

  <p>
    <strong>Innings:</strong>
    <%= batting.innings %>
  </p>

  <p>
    <strong>Runs:</strong>
    <%= batting.runs %>
  </p>

  <p>
    <strong>Balls:</strong>
    <%= batting.balls %>
  </p>

  <p>
    <strong>Highest:</strong>
    <%= batting.highest %>
  </p>

  <p>
    <strong>Notouts:</strong>
    <%= batting.notout %>
  </p>

  <p>
    <strong>Fours:</strong>
    <%= batting.fours %>
  </p>

  <p>
    <strong>Sixes:</strong>
    <%= batting.sixes %>
  </p>

  <p>
    <strong>Fif:</strong>
    <%= batting.fif %>
  </p>

  <p>
    <strong>Hun:</strong>
    <%= batting.hun %>
  </p>
  <p>
    <strong>Strikerate:</strong>
    <%= batting.strikerate %>
  </p>

  <p>
    <strong>Average:</strong>
    <%= batting.avg %>
  </p>


  <p>
    <strong>Player:</strong>
    <%= batting.player_id %>
  </p>

</div>
