<div id="<%= dom_id player %>">
  <p>
    <strong>Playername:</strong>
    <%= player.playername %>
  </p>

  <p>
    <strong>Born:</strong>
    <%= player.born %>
  </p>

  <p>
    <strong>Birthplace:</strong>
    <%= player.birthplace %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= player.nickname %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= player.role %>
  </p>

  <p>
    <strong>Battingstyle:</strong>
    <%= player.battingstyle %>
  </p>

  <p>
    <strong>Bowling:</strong>
    <%= player.bowling %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= player.style %>
  </p>

</div>
